<header class="site-header">
  <a href="{{ '/' | relative_url }}">
    <img src="{{ '/assets/images/posts/Header-Logo.webp' | relative_url }}" alt="Tales N Tools Logo" class="site-logo">
  </a>
  <p>Author of Young Adult & Dark Fantasy Romance</p>
</header>

<nav>
  <a href="{{ '/' | relative_url }}">Home</a>
  <a href="{{ '/about/' | relative_url }}">About</a>
  <a href="{{ '/books/' | relative_url }}">Books</a>
  <a href="{{ '/blog/' | relative_url }}">Blog</a>
  <a href="{{ '/software/' | relative_url }}">Software</a>
</nav>
